body{
    margin: 0;
    background-color: rgb(35, 30, 67);
    display: grid;
    grid-template-rows:20vh 60vh;
    grid-template-columns: 1fr 2fr 1fr;
}

.container{
    border: solid 2px grey;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border-radius: 8px;
    background-color: rgb(56, 48, 107);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card {
    border: 2px solid #867575;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 9px;
    position: relative;
    left: 27px;
    top: 15px;
    box-shadow: 5px 5px 10px #888888;
    background: #FFEBCD;
  }

  p{
    color: blackx;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }

  #sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  #sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  #sidebar a:hover {
    color: #f1f1f1;
  }

  #sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;